*{
    margin:0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-image: url("qma.jpg");
    background-size: cover;
    margin-top:40px;
}
.regform{
    width:800px;
    background-color: rgb(73, 73, 99);
    margin:auto;
    color:#ffffff;
    padding:10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 0px 0px;
}
.mane{
    background-color:rgb(102, 102, 126);
    width:800px;
    margin:auto;
}
form{
    padding: 10px;
}
.name{
    margin-left: 25px;
    margin-top: 30px;
    width:125px;
    color:white;
    font-size: 18px;
    font-weight: 700px;
}
.firstname{
    position:relative;
    left:200px;
    top:-37px;
    line-height:40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
}
.lastname{
    position:relative;
    left:400px;
    top:-80px;
    line-height:40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px; 
    color:#555;
}
.firstlabel{
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 14px;
    left:203px;
    top: -45px;
}
.lastlabel{
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 14px;
    left: 485px;
    top: -82px;

}
input#SUBMIT{
    width:200px;
    padding:8px;
    font-size: 18px;
    font-family:sans-serif;
    font-weight: 400;
    background-color:blueviolet;
}